* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(img/pattern.png);
    background-color: dodgerblue;
    background-size: 350px;
}

main {
    padding-top: 10px;
    padding-left: 5px;
}

h2 {
    color: grey;
    font-size: 15px;
}

ul {
    padding-top: 25px;
    padding-left: 15px;
}

table {
    border-inline-color: transparent;
}

th {
    padding-right: 120px;
    text-align: left;
}

footer {
    padding-top: 10px;
    padding-left: 5px;
}

.logo {
    margin-top: 35px;
    margin-left: 10px;
    width: 200px;
}

.color-h2 {
    color: dodgerblue;
}

.date-h2 {
    color: grey;
    font-size: 10px;
    padding-bottom: 20px;
}

.img-desc {
    font-size: 10px;
}

.desc {
    padding-top: 20px;
}

.make-evident {
    background-color: yellow;
}

.table-1 {
    background-color: dodgerblue;
    color: white;
}

.table-2 {
    background-color: rgb(78, 230, 255);
}

.foot-1 {
    color: grey;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.foot-img-1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    background-image: url(img/monitor.jpg);
    background-size: 200px;
    width: 180px;
    height: 150px;
    background-repeat: no-repeat;
}

.foot-img-2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    background-image: url(img/graph.jpg);
    background-size: 200px;
    width: 180px;
    height: 150px;
    background-repeat: no-repeat;
}