* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(img/pattern.png);
    background-color: dodgerblue;
    background-size: 350px;
}

main {
    padding-top: 10px;
    padding-left: 5px;
}

h2 {
    color: grey;
    font-size: 15px;
}

.logo {
    margin-top: 35px;
    margin-left: 10px;
    width: 200px;
}

.color-h2 {
    color: dodgerblue;
}

.date-h2 {
    color: grey;
    font-size: 10px;
    padding-bottom: 20px;
}